@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    transition: 0.1s;
}

*::selection {
    color: none;
    background: none;
}

img {
    z-index: 5;
    min-width: 100px;
}

.mainBlob {
    max-width: 400px;
    overflow: hidden;
    @media(max-width: 670px) {
        max-width: 200px;
    }
}

.blobImage {
    overflow: hidden;
}

.slide-enter {
    transform: translateY(-100%);
    transition: .4s cubic-bezier(0, 1, 0.5, 1);
    &.slide-enter-active {
        transform: translateY(0%);
    }
}

.slide-leave {
    transform: translateY(0%);
    transition: .4s ease-in-out;
    &.slide-leave-active {
        transform: translateY(-100%);
    }
}

.angleToggle {
    font-size: 2rem;
}

.uil-moon {
    color: #7266d3;
    cursor: pointer;
    margin-left: 10px;
}

.uil-sun {
    color: #ffbf00;
    margin-left: 10px;
    cursor: pointer;
}

.uil-times-circle {
    font-size: 25px;
    cursor: pointer;
}

.uil-setting,
.uil-moon,
.uil-sun {
    font-size: 1.2rem;
}

.uil-subject {
    font-size: 2rem;
}